<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/ship/">{{title}}</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ship/list">Ship List</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ship/add">Add New Ship</a>
                </li>
            </ul>
        </div>
    </div>
</nav>