<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <h1> {{title}}</h1>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/ship/list">Ship Details</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/ship/add">Add New Ship</a>
            </li>
        </ul>
    </div>
</nav>