<div class="container">
  <div class="panel">
    <div class="panel-header">
      <span class="panel-title"> Ship List</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-stripped table-responsive table-bordered">
            <thead>
              <th> Ship Code</th>
              <th> Name </th>
              <th> length In Meters </th>
              <th> Width In Meters </th>
              <th> Actions </th>
            </thead>
            <tbody>
              <tr *ngFor="let ship of ships">
                <td>{{ship.shipCode}} </td>
                <td>{{ship.shipName}} </td>
                <td>{{ship.shipLengthInMeters}} </td>
                <td>{{ship.shipLengthInMeters}} </td>
                <td>
                  <app-actions [isDeleteEnabled]="true" [isEditEnabled]="true"
                    (onEditClicked)="goToEditShip(ship.shipCode)" (onDeleteClicked)="deleteShip(ship.shipCode)">
                  </app-actions>
                  <!--<button class="btn btn-sm btn-primary" (click)="editShip(ship.shipCode)"> Edit
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteShip(ship.shipCode)"> Delete
                </button> -->
                </td>
              </tr>
            </tbody>
          </table>


          <!-- <p-table #dt [value]="ships" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="header">
              <tr>
                <th>Ship Code</th>
                <th>Ship Name</th>
                <th>Length</th>
                <th>Width</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ship>
              <tr>
                <td>{{ship.shipCode}}</td>
                <td>{{ship.shipName}}</td>
                <td>{{ship.shipLengthInMeters}}</td>
                <td>{{ship.shipLengthInMeters}}</td>
              </tr>
            </ng-template>
          </p-table> -->
        </div>
      </div>
    </div>
  </div>
</div>