<div class="container">
    <div class="panel">
        <div class="panel-header">
            <span class="panel-title"> Ship List</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-stripped table-responsive table-bordered">
                        <thead>
                            <th> Ship Code</th>
                            <th> Name </th>
                            <th> length In Meters </th>
                            <th> Width In Meters </th>
                            <th> Actions </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ship of ships">
                                <td>{{ship.code}} </td>
                                <td>{{ship.name}} </td>
                                <td>{{ship.length}} </td>
                                <td>{{ship.width}} </td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="editShip(ship.code)"> Edit
                                    </button>
                                    <button class="btn btn-sm btn-danger" (click)="deleteShip(ship.code)"> Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>